In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [6]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
id,300000.0,149999.500000,86602.684716,0.0,74999.75,149999.5,224999.25,299999.0
bin_0,300000.0,0.127503,0.333537,0.0,0.00,0.0,0.00,1.0
bin_1,300000.0,0.256607,0.436761,0.0,0.00,0.0,1.00,1.0
bin_2,300000.0,0.383223,0.486173,0.0,0.00,0.0,1.00,1.0
ord_0,300000.0,1.479567,0.712524,1.0,1.00,1.0,2.00,3.0
day,300000.0,3.007817,1.817949,1.0,2.00,3.0,4.00,7.0
month,300000.0,5.771113,3.843519,1.0,2.00,4.0,9.00,12.0
target,300000.0,0.305880,0.460780,0.0,0.00,0.0,1.00,1.0

In [5]:
train.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [7]:
train.drop(['id','target'], axis=1, inplace=True)
train.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,c389000ab,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,4cd920251,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,de9c9f684,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,4ade6ab69,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,cb43ab175,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8

In [8]:
encoder=LabelEncoder()
kategorik=train.columns.tolist()
print(kategorik)

['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month']

In [10]:
for each in kategorik:
    train[each]=encoder.fit_transform(train[each])
    #print(train[each])

In [11]:
print(train.head())

   bin_0  bin_1  bin_2  bin_3  bin_4  nom_0  nom_1  nom_2  nom_3  nom_4  ...  \
0      0      0      0      1      1      1      5      5      3      0  ...
1      0      1      0      1      1      1      4      3      5      2  ...
2      0      0      0      0      1      0      4      4      5      3  ...
3      0      1      0      0      1      2      4      5      0      1  ...
4      0      0      0      0      0      2      4      4      0      1  ...

   nom_8  nom_9  ord_0  ord_1  ord_2  ord_3  ord_4  ord_5  day  month
0   1686   2175      1      2      1      7      3    136    1      1
1    650  11635      0      2      3      0      0     93    6      7
2   1932   8078      0      1      4      7     17     31    6      1
3    629   6056      0      2      0      8      3    134    1      0
4   1760   8231      0      2      2      0     17    158    6      7

[5 rows x 23 columns]

In [14]:
#feature scaling
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
train=scaler.fit_transform(train)
print(train)

[[-0.38227763 -0.58752268 -0.78824642 ...  0.75883147 -0.55437096
  -0.9811632 ]
 [-0.38227763  1.70206195 -0.78824642 ... -0.01710655  2.19598524
   0.57990874]
 [-0.38227763 -0.58752268 -0.78824642 ... -1.1359009   2.19598524
  -0.9811632 ]
 ...
 [-0.38227763 -0.58752268 -0.78824642 ... -1.56898258  2.19598524
   0.84008739]
 [-0.38227763  1.70206195 -0.78824642 ...  1.44454414 -0.00429972
   0.57990874]
 [-0.38227763 -0.58752268 -0.78824642 ...  1.408454   -1.10444221
  -0.72098454]]